* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  font-family: var(--font-main);
  font-weight: 200;
  background-color: var(--color-bg);
  color: var(--color-bg);
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
