#about {
  background-color: var(--color-light);
  background-image: var(--background-auras-europe);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#about .big {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

#about .big .small {
  flex: 1 1 300px;
  max-width: 800px;
  line-height: 1.8;
}
