
<header class="gallery-header ui-fade-in">
  <div class="header-inner">
    <div class="logo-wrap">
      <img src="/images/aura-scouting-logo.png" alt="Aura Scouting Logo" class="logo" loading="lazy">
    </div>
    <div class="header-title-center">
      <h1>{{ galleryName }}</h1>
    </div>
    <div class="header-mails">
      <a href="mailto:emma@aurascouting.com" class="mail-link">emma@aurascouting.com</a><br>
      <a href="mailto:magali@aurascouting.com" class="mail-link">magali@aurascouting.com</a>
    </div>
  </div>
</header>
